<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!-- 로그 패턴에 색상 적용 converter -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>

    <!-- 색상을 적용한 로그 패턴 -->
    <property name="COLOR_LOG_PATTERN"
              value="[%d{YYYY.MM.dd HHmmss}:%-3relative] %highlight(%-5level) %clr(${PID:-}){magenta} %clr(---){faint} %clr([%15.15thread]){faint} %clr(%-40.40logger{36}){cyan} %clr(:){faint} %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${COLOR_LOG_PATTERN}</Pattern>
        </layout>
    </appender>
    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>